.imagem2{
    background-image: url(https://i.imgur.com/d5bMdDJ.jpg);
    background-repeat: no-repeat;
     width: 60vh;
    min-height: 60vh;
    background-size: cover; 
    background-position:center;
}

.textos2 {
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}